.card {
    border: 2px solid grey;
    border-radius: 1em;
    height: 250px;
    margin: 15px;
    width: 250px;
}

.card > form {
    width: 80%;
}

.card > form > label > span {
    font-weight: 600;
}

input[type='number'] {
    padding: 5px;
    width: 40px;
}

input[type='number']::-webkit-inner-spin-button {
    height: 30px;
}

input[type='submit']:hover, .box > button:hover {
    background-color: #80b24b;
    transform: scale(1.05);
}

.card > img:hover {
    cursor: pointer;
}

.container {
    height: 100vh;
    flex: 1;
}

.box {
    width: 90vw;
}

.box > button {
    margin-top: 10px;
}

input[type='submit']:disabled, button:disabled, button:disabled:hover {
    background-color: #848484;
    cursor: not-allowed;
    transform: none;
}

.item {
    border: 2px solid grey;
    border-radius: 1em;
    padding: 15px;
}

.item + .item {
    margin-top: 10px;
}

.item-details {
    padding: 10px;
}

.item-details > .material-icons-outlined:hover {
    color: #2c2c2c;
    cursor: pointer;
}

.link .badge {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 12px;
    border-radius: 50%;
    background: #4c843c;
    color: white;
    transform: scale(0.7);
}

.link, .link:visited {
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    padding: 15px;
}

.navbar {
    background-color: #2c2c2c;
    width: 100vw;
    position: sticky;
}

.material-icons-outlined {
    transform: scale(1.7);
}